* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
}

#wrapper {
    margin: 0 auto;
}